* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-size: 120px;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
body {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}


.carta {
    width: 90%;
    max-width: 700px;
    min-height: 95vh;
    padding: 40px 25px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carta::before {
    content: "";
    position: fixed;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background: url('img/fondo.jpeg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
    opacity: 0.5;
}

p {
    font-family: satisfy, cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.7;
    margin: 15px 0;
    color: #333;
}

li {
    font-family: 'Satisfy', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.7;
    margin: 15px 0;
    color: #333;
}

.fecha {
    margin-top: 30px;
    font-style: italic;
}

.firmas {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 20px;
}

.firmas div {
    text-align: center;
}

.firmas hr {
    border: none;
    border-top: 1px solid #000;
    width: 120px;
    margin-bottom: 5px;
}

.titulo-imagen {
    width: 100%;
    max-width: 350%;
    height: auto;
    margin: 0 auto 20px auto;
    display: block;
}

@media screen and (max-width: 480px) {
    .carta {
        padding: 20px 15px;
    }

    .titulo-imagen {
        width: 90%;
    }

    p, li {
        font-size: 1.2em;
    }

    .firmas {
        flex-direction: column;
        gap: 20px;
    }

    .firmas hr {
        width: 100px;
    }
}

